html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.page {
  color: white;
  font-family: 'Lato';
  width: 100%;
  background-image: linear-gradient(-227deg, #4E82F9 6%, #F12626 100%);
}

/*.page {*/
  /*width: 100wh;*/
  /*height: 90vh;*/
  /*color: #fff;*/
  /*background: linear-gradient(-30deg, #4E82F9, #E73C7E, #23A6D5, #F12626);*/
  /*background-size: 400% 400%;*/
/*}*/

.header {
    width: 100%;
    padding: 40px 0;
}

.header img {
  height: 65px;
  width: 65px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 30px;
  padding-left: 90px;
}

.header p {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Pacifico';
  font-size: 45px;
  padding: 0;
  margin: 0;
}

.content {
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  align-items: center;
}

.content-inner {
  margin: 0 auto;
  width: 90%;
}

#sentence {
  font-family: 'Lato';
  font-weight: lighter;
  text-align: center;
  color: white;
  display: block;
  border: none;
  background: none;
  margin: 0 auto;
  width: 100%;
  font-size: 50px;
}

#sentence::placeholder {
  color: white;
}

#sentence:focus {
  outline: none !important;
}

.translated-sentence {
  text-align: center;
  font-family: 'Lato';
  font-size: 50px;
  font-weight: 900;
}

.selectable:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
}

.translated-sentence span {
  display: inline-block;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: border-bottom-color 0.4s ease;
  padding: 0px 4px;
}

.translated-sentence .empty {
  text-decoration: line-through;
  cursor: default;
}

.start-over-button {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  transition: linear all 0.2s;
}

.start-over-button:hover {
  cursor: pointer;
  transform: translateY(5px);
}

.image-button {
  display: block;
  margin: 50px auto;
  height: 40px;
  width: 40px;
  transition: linear all 0.4s;
}

.image-button:hover {
  cursor: pointer;
  transform: translateY(5px);
}

.image-button img {
  height: 100%;
  width: 100%;
}

.no-alternatives-message {
  display: block;
  width: 50%;
  margin: 0 auto;
  font-size: 40px;
}

.snippet-alternative {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-align: center;

  width: 50%;
  margin: 0 auto;
  font-size: 40px;

  transition: all 0.4s ease;
}

.snippet-alternative:hover {
  cursor: pointer;
  transform: translateY(5px);

}

/* Taken from https://codepen.io/sarath-ar/pen/dMKxxM */
button{
  position: relative;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
span{
  display: block;
}
button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
button:hover::before, button:hover::after{
  width: 100%;
}
button:hover span::before, button:hover span::after{
  height: 100%;
}
/*----- button 1 -----*/
.btn-1::before, .btn-1::after{
  transition-delay: 0.2s;
}
.btn-1 span::before, .btn-1 span::after{
  transition-delay: 0s;
}
.btn-1::before{
  right: 0;
  top: 0;
}
.btn-1::after{
  left: 0;
  bottom: 0;
}
.btn-1 span::before{
  left: 0;
  top: 0;
}
.btn-1 span::after{
  right: 0;
  bottom: 0;
}
.btn-1:hover::before, .btn-1:hover::after{
  transition-delay: 0s;
}
.btn-1:hover span::before, .btn-1:hover span::after{
  transition-delay: 0.2s;
}

.btn {
  display: block;
  margin: 50px auto;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Lato';
  font-size: 20px;
  /* border: 1px white solid; */
  padding: 10px 60px;
  color: white;
  font-weight: lighter;
}

/* loader */
.lds-ring {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* end loader */


